* {
    background-color: black;
    color: aquamarine;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-top: 50px;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid khaki;
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 650px;
}

.toprow {
    display: flex;
    justify-content: flex-start;
    border: 2px solid khaki;
    width: 400px;
}

.previousNumber {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: yellow;
    font-size: 20px;
    flex-wrap: nowrap;
}


.currentNumber {
    display: flex;
    width: 150px;
    height: 60px;
    color: yellow;
    margin-left: 130px;
    font-size: 50px;
    text-align: center;
    justify-content: end;
    align-items: end;
    margin-bottom: 5px;
    margin-top: 20px;
    flex-wrap: nowrap;
}

.pressable {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-grow: 1;
}

button {
    min-height: 100px;
    min-width: 99px;
    text-align: center;
    font-size: 32px;
    border-color:khaki;
    border: 1px light;
}

#clear {
border: 2px solid khaki;
}